python==3.12.2
emoji==2.14.1
langdetect==1.0.9
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.2
pandas==2.2.3
seaborn==0.13.2
scikit-learn==1.6.1
spacy==3.8.2
swifter==1.4.0
symspellpy==6.9.02
xgboost==2.1.4